#ignore everything
lab-3/Objects
lab-3/Listings
*.bak
*.o
*.d
*.Sijin
*.Sikenderali Ashraf

# do not ignore
!*.s
!*.c
!*.h
!*.docx
!*.sch
!*.pcb
!*.pdf
!*.txt
!*.xlsx
!lab-3
!lab-6-sma3534_nt6427_rgl568_sw34773


